{% extends 'homepage/faculty_generic.html' %}

{% block content %}
    <section>
        <div class="grid_9">
            <!-- Display the Title as a link to the Post's permalink. -->
           <h2 id="title"><a href="{% url 'faculty-attributes' fac_id=faculty.id attr_id=1 %}" rel="bookmark" title="Permanent Link to Publications">Publications</a></h2>

            <!-- Display the Post's Content in a div box. -->
            <div class="entry">
                <div class="page-restrict-output">
                    <p style="font-size: 16px"><strong>Journals</strong>                        
                      {% for jour in faculty.journal_set.all %}
                        <p>{{ jour.contributors }}, "{{ jour.title }}", {{ jour.book }}, {{ jour.year }}.</p>
                      {% endfor %}
                    </p>
                    <p style="font-size: 16px"><strong>Conferences</strong>
                      {% for conf in faculty.conference_set.all %}
                        <p>{{ conf.participants }}, "{{ conf.topic }}", {{ conf.event }}, {{ conf.year }}. </p>
                      {% endfor %}
                    </p>
                    <p style="font-size: 16px"><strong>Projects</strong>
                      {% for project in faculty.project_set.all %}
                        <p>Title: {{ project.title }}<br>
                        <p>Sponsor: {{ project.sponsor }}<br>
                        <p>Budget:  {{ project.budget }}<br>
                        <p>Duration: {{ project.duration }}<br>
                        <p>Role: {{ project.role }}</p>
                      {% endfor %}
                    </p>

                </div>
            </div>
    </section>
{% endblock %}