{% extends 'homepage/faculty_generic.html' %}

{% block content %}
    <section>
        <div class="grid_9">
            <!-- Display the Title as a link to the Post's permalink. -->
            <h2 id="title"><a href="{% url 'faculty-attributes' fac_id=faculty.id attr_id=2 %}" rel="bookmark" title="Permanent Link to Teaching">Teaching</a></h2>
            <!-- Display the Post's Content in a div box. -->
            <div class="entry">
                <div class="page-restrict-output">
                    <p style="font-size: 16px"><strong>Courses<br></strong></p>
                    {% for course in faculty.course_set.all %}
                    <p>{{ course.code }}: {{ course.name }}
                        <br> {% if course.semester == "odd" %} July-Nov, {{course.year}} {% endif %} {% if course.semester == "even" %} Jan-May, {{course.year}} {% endif %}
                        <br> {% endfor %}</p>
                    <p style="font-size: 16px"><strong>Students<br></strong></p>
                    {% for student in faculty.student_set.all %}
                    <p>{{ student.first_name }} {{ student.last_name }}, {{ student.degree }}
                        <br> Research Topic: {{ student.topic }}
                        <br> {{ student.start_year }} - {{ student.end_year }} {% endfor %}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}