{% extends 'homepage/faculty_generic.html' %}

{% block content %}
    <section>
        <div class="grid_9">
            <!-- Display the Title as a link to the Post's permalink. -->
            <h2 id="title"><a href="{% url 'faculty-attributes' fac_id=faculty.id attr_id=0 %}" rel="bookmark" title="Permanent Link to About">About</a></h2>
            <!-- Display the Post's Content in a div box. -->
            <div class="entry">
                <div class="page-restrict-output">
                    <p style="font-size: 16px"><strong>Education<br></strong></p>
                    {% for edu in faculty.education_set.all %}
                    <p>{{ edu.get_degree_display }}
                        <br> {{ edu.branch }}
                        <br> {{ edu.institute }}
                        <br> {{ edu.duration }}</p>
                    {% endfor %}
                    <p style="font-size: 16px"><strong>Achievements</strong></p>
                    {% for award in faculty.achievement_set.all %}
                    <p>{{ award.award }}
                        <br> {{ award.awarded_by }}
                        <br> {{ award.year }}</p>
                    {% endfor %}
                    <p style="font-size: 16px"><strong>Professional Experiences</strong></p>
                    {% for exp in faculty.professionalexperience_set.all %}
                    <p>{{ exp.designation }}
                        <br> {{ exp.institute }}
                        <br> {{ exp.start_year }} to {{ exp.end_year }}</p>
                    {% endfor %}
                    <p style="font-size: 16px"><strong>Administrative Responsibilities</strong></p>
                    {% for ar in faculty.administrativeresponsibility_set.all %}
                    <p> {{ ar.designation }}<br>
                        {{ ar.start }} till {{ ar.end }}
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}