{% extends 'homepage/faculty_generic.html' %}

{% block content %}
	<section>
        <div class="grid_3">
            <!-- Display the Title as a link to the Post's permalink. -->
            <h2 id="title"><a href="{{ faculty.get_absolute_url }}" rel="bookmark" title="Permanent Link to Home">Home</a></h2>
            <!-- Display the Post's Content in a div box. -->
            <div class="entry">
                <div class="page-restrict-output">
                    <p><a href="{{ faculty.profile_picture.url }}"><img class="aligncenter size-medium wp-image-21" src="{{ faculty.profile_picture.url }}" alt="" width="50%" height="50%"></a></p>
            	</div>
            </div>
        </div>
        <div class="grid_6">
            <!-- Display the Post's Content in a div box. -->
            <div class="entry">
                <div class="page-restrict-output">
                    <br>
		    		<p> {{ faculty.first_name }} {{ faculty.last_name }}<br> 
		    		    {{ faculty.designation.get_designation_display }}<br>
		    		    Department of {{ faculty.department.get_department_display }}<br>
		    		</p>
		    		<p style="font-size: 16px"><strong>Research Interests</strong></p>
		    		<p>{{ faculty.interests }}</p>
					
					<p style="font-size: 16px"><strong>Personal Details</strong></p>
		    			<p> Webmail: {{ faculty.iitg_email }}<br>
							Alter. Email: {{ faculty.other_email }}
						</p>
						<p> Phone (Office): {{ faculty.office_phone }}<br>	
		    				Phone (Residential): {{ faculty.residence_phone }}</p>
		    			<p> Office No.: {{ faculty.room_number }} </p>
		    			<p style="font-size: 16px"><strong>Biography</strong></p>
      						<p>{{ faculty.biography }}</p>
            	</div>
            </div>
        </div>
    </section>
{% endblock %}